.js-gallery {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.photo-card {
  box-shadow: 5px 5px 9px 0px rgba(2, 34, 56, 0.35);
  -webkit-box-shadow: 5px 5px 9px 0px rgba(2, 34, 56, 0.35);
  -moz-box-shadow: 5px 5px 9px 0px rgba(2, 34, 56, 0.35);
}

.info {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.js-message {
  text-align: center;
  margin-top: 40px;
  color: rgb(150, 97, 0);
  font-size: 24px;
  font-weight: bold;
}

.js-warning {
  color: red;
  margin-top: 120px;
}

.search-form {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;

  & input,
  button {
    outline: none;
    padding: 4px;
    border-radius: 8px;
    border-color: transparent;
    align-items: center;
  }
  & input {
    width: 450px;
    height: 48px;
    padding: 8px 16px;
    border-radius: 24px;
    border: 1px solid #cccccc;
  }
  & button {
    cursor: pointer;
    width: 50px;
    margin-left: -60px;
    margin-top: 5px;
    background-color: transparent;
  }
}

.js-load-more {
  margin: 0 auto 50px;
  margin-left: 50px;
}

.search-icon {
  fill: #aaaaaa;
}
